@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Headline:wght@200..700&display=swap');

body {
    font-family: "Stack Sans Headline", "Times New Roman", Times, serif;
    font-weight: regular;
    margin: 0;
    background-color: #FFFFFF; 
}

header {
    background-color: #ADD8E6;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #333;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    background-color: #5A9BD8;
}

iframe {
    width: 100%;
    height: 80vh;
    border: none;
    background-color: white;
}